<% @events.each do |event| %>
  <% if event.date_time < Time.now %>
    <div class="my-events-cards">
      <% if event.user == current_user %>
        <%= link_to event_path(event) do %>
          <div class="my-events-card">
            <div>
              <h5><%= event.title %></h5>
              <% atendee_count = 0 %>
              <% event.event_atendees.each do |atendee| %>
                <% atendee_count += atendee.people %>
              <% end %>
              <p><%= atendee_count %> people joining this event.</p>
            </div>
            <span id="event-date"><%= event.date_time.strftime("%b %d, %H:%M") %></span>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>