<div class="main-banner">
  <div class="container">
    <img src="<%= image_path("main_banner.png") %>" class="d-block w-100" alt="...">
  </div>
</div>
<div class="container">
  <h3 class="home-cards-title"><i class="fas fa-search"></i>Everyday a new discovery</h3>
  <div class="row home-cards">
    <div class="col-sm-4">
      <div class="card first-card">
        <div class="card-body">
          <%= link_to events_path do  %>
            <h3 class="card-title">Join <br>
              Events</h3>
            <p>Learn More <i class="fas fa-angle-right"></i></p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card seccont-card">
        <div class="card-body">
          <%= link_to professionals_path do  %>
            <h3 class="card-title">Find <br>
              Professionals</h3>
            <p>Learn More <i class="fas fa-angle-right"></i></p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card third-card">
        <div class="card-body">
          <%= link_to posts_path do  %>
            <h3 class="card-title">Exchange <br>
              Information</h3>
            <p>Learn More <i class="fas fa-angle-right"></i></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>