.main-button {
  background-image: linear-gradient(to bottom right, #1C8C6A, #44BE92);
  color: #fff;
  padding: 8px 16px;
  border-radius: 8px;
  border: 0px solid #1C8C6A;
}

.main-button:hover {
  text-decoration: none;
  color: #fff;
}

.photo-submit-btn {
  position: relative;
  overflow: hidden;
  display: inline-block;

  label {
    display: none;
  }

  .btn {
    //border: 2px solid gray;
    color: gray;
    background-color: #f4f4f4;
    //padding: 8px 20px;
    border-radius: 50%;
    font-size: 24px;
    font-weight: bold;
    margin-right: 16px;
  }

  .form-group {
    margin: 0;
  }
}

.photo-submit-btn input[type=file]{
  font-size: 40px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;


}
