.event-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 16px;
  padding-bottom: 62px;
  padding-top: 24px;

  a {
    text-decoration: none;
    color: #595959;
    padding: 0 16px;

  }
}

.event-card {
  background-color: #fff;
  min-width: 280px;
  margin: 16px auto;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 4px rgba(8,8,61,0.1);

  .card-img {
    position: relative;

    .gradient {
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.3));
      border-radius: 8px 8px 0 0;
    }
  }

  img {
    width: 100%;
    border-radius: 8px 8px 0 0;
    height: 220px;
    object-fit: cover;
  }

  .event-title {
    padding-top: 8px;
  }

  .card-content {
    padding: 8px 16px 20px 16px;;
  }

  #event-date {
    position: absolute;
    bottom: 12px;
    left: 16px;
    font-weight: bold;
  }
}

#event-date {
  background-color: #dc961f;
  padding: 4px 12px;
  font-size: 15px;
  border-radius: 16px;
  color: #fff;

}

.card-img {

  min-height: 220px;
}

.card-date-av {
  position: relative;
}

.spots-av {
  background-color: #1C8C6A;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  right: 0px;
  top: 0px;

  span {
    color: #fff;
    font-weight: 800;
    line-height: 26px;
  }

  p {
    margin: 0;
    font-size: 10px;
    color: #fff;
    line-height: 0px;
  }
}

.card-info {

  p {
    font-weight: bold;
  }

  h6 {
    font-size: 12px;
  }

}

.user-event-info {
  display: flex;
  align-items: center;
}

.user-info-card {
  display: flex;
  align-items: center;

  img {
    width: 40px;
    height: 40px;
    margin-right: 8px;
    border-radius: 50%;
  }
}

.capacity-info {
  border-left: 1px solid #544f4f;
  margin-left: 8px;
  padding-left: 8px;
}

.my-events-cards {


  a:hover {
    text-decoration: none;

  }
}

.my-events-card {
  background-color: #fff;
  //padding: 32px;
  border-radius: 8px;
  display: flex;
  //justify-content: space-between;
  align-items: start;
  margin: 24px 0;
  border: 1px solid #dee2e6;
  height: 200px;

  .event-card-img {
    height: 100%;

    img {
      height: 100%;
      border-radius: 8px 0 0 8px;
      max-width: 280px;
      object-fit: cover;
    }
  }

  .event-content {
    padding: 24px;
    flex-grow: 1;

    h4 {
      padding-top: 8px;
      font-weight: 700;
    }

    p {
      margin: 0;
      color: #544f4fa6;
    }
  }

  .buttons {
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .cancel-button {
      color: #d51419ab;
      padding: 8px 0 8px 16px;
      display: flex;
      align-items: center;

      p {
        margin: 0 0 0 4px;

      }
    }

    .edit-button {
      padding: 8px 0;
      display: flex;
      align-items: center;

      p {
        margin: 0 0 0 4px;
      }
    }
  }
}

.my-events-card:hover {
  box-shadow: 0 2px 4px rgba(8,8,61,0.1);
}

.join-events-cards {
  a:hover {
    text-decoration: none;
  }
}

.join-events-card {
  background-color: #fff;
  //padding: 32px;
  border-radius: 8px;
  display: flex;
  //justify-content: space-between;
  align-items: start;
  margin: 24px 0;
  border: 1px solid #dee2e6;
  height: 200px;


  .event-card-img {
    height: 100%;

    img {
      height: 100%;
      border-radius: 8px 0 0 8px;
      max-width: 280px;
      object-fit: cover;
    }
  }

  .event-content {
    padding: 24px;
    flex-grow: 1;

    h4 {
      padding-top: 8px;
      font-weight: 700;
    }

    p {
      margin: 0;
      color: #544f4fa6;
    }
  }

  .buttons {
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .cancel-button {
      color: #d51419ab;
      padding: 8px 0;
      display: flex;
      align-items: center;

      p {
        margin: 0 0 0 4px;

      }
    }
  }
}

.join-events-card:hover {
  box-shadow: 0 2px 4px rgba(8,8,61,0.1);
}

.home-cards-title {
  text-align: center;
  padding-top: 48px;

  i {
    padding: 0px 4px;
  }
}

.home-cards {
  padding: 62px;

  .card {
    background-image: linear-gradient(to bottom right, #1C8C6A, #44BE92);
    border-radius: 8px;
    padding: 24px;
    text-align: left;

    h3 {
      color: #fff;
    }

    p {
      color: #033a29;
      margin: 0;
    }
  }

  .card:hover {
    background-image: linear-gradient(to bottom right, #1C8C6A, #1C8C6A);
  }
}

.white-card {
  margin: 48px auto;
  background-color: #fff;
  padding: 24px 32px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(8, 8, 61, 0.1);
  min-height: 360px;
}

@media (max-width: 319px) {
  #logo {
    font-size: 32px;
  }

  .collapse:not(.show) {
    right: 16px;
    top: 16px;
  }

  .event-cards {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    padding-top: 24px;


  }

  .event-card {
    min-width: 240px;

  }

  .card-img {
    min-height: 160px;

    img {
      height: 160px;
    }
  }

  .main-container {
    padding: 72px 0 62px 0;
  }
}

@media (max-width: 767px) {

  .atendee-main {
    padding: 0 8px;

  }

  .join-events-card {
    flex-wrap: wrap;
    height: auto;

    .buttons {
      padding: 0 24px 24px 24px;
    }
  }

  .join-events-card .event-card-img {
    width: 100%;
    height: auto;

    img {
      width: 100%;
      height: auto;
      max-width: none;
      border-radius: 8px 8px 0 0;

    }

  }

  .my-events-card {
    flex-wrap: wrap;
    height: auto;
  }

  .my-events-card .event-card-img {
    width: 100%;
    height: auto;

    img {
      width: 100%;
      height: auto;
      max-width: none;
      border-radius: 8px 8px 0 0;
    }
  }

  .my-events-card .buttons {
    flex-direction: row;
    padding: 0 24px 24px 24px;
  }

  .home-cards {
    padding: 0;

    .card {
      padding: 0;
      margin: 16px;
    }
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .home-cards {

    .card {
      padding: 0;

      h3 {
        font-size: 22px;
      }
    }
  }
}

// Professionals cards

.professional-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 16px;
  padding-bottom: 62px;
}

.professional-card {
  background-color: #fff;
  max-width: 300px;
  margin: 16px auto;
  border-radius: 8px;
  padding: 32px 24px;
  box-shadow: 0 2px 4px rgba(8,8,61,0.1);
  height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  img {
    border-radius: 50%;
    width: 132px;
  }

  i {
    font-size: 132px;
    color: #dcdcdc7a;
  }
}

.professional-main-info {
  padding: 32px;

  h3 {
    margin: 0;
  }
}

.prof-img {
  i {
     font-size: 420px;
  }

  img {
    width: 420px;

  }
}

.prof-name-role {

}

.prof-detail {
  padding: 16px 0;
}

.professional-details {

  i {
    font-size: 22px;
    margin-right: 4px;
    //color: #920d23;
    color: #1C8C6A;

    width: 24px;



  }

  .fa-dollar-sign {
      padding-left: 5px;
    }

  a {
    color: #7f7f7f;
    font-weight: 500;
  }

  a:hover {
    color: #544f4f;
  }

  p {
    color: #7f7f7f;
    font-weight: 500;
  }

}

.professional-page {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 900px;

}

.phone-email {

  p {
    margin-bottom: 8px;
  }
}
