.event-page {
  padding: 0 8px;
}

.user-avatar {
  font-size: 40px;
  color: #544f4f3d;
  padding-right: 8px;
}

.event-heading {
  padding: 32px;
  position: absolute;
  bottom: 0px;

  h2 {
    padding: 8px 0 8px 0;
    margin: 0;
    color: #fff;
    font-weight: 700;
  }

  #event-date {
    font-size: 18px;
  }
}

.event-image {
  width: 100%;
  height: 250%;
  position: relative;

  .gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.4));
  }

  img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: 50% 30%;
  }
}

.event-main {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  //padding: 16px 0;
  //margin: 48px auto;
  background-color: #fff;
  padding: 32px;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 2px 4px rgba(8, 8, 61, 0.1);
  min-height: 360px;


  .main-content {
    flex-grow: 3;
    padding: 16px 72px 0 0;
  }

  .join-event-form {
    background-color: #fff;
    padding: 24px;
    border-radius: 8px;
    width: 100%;
    box-shadow: 0 2px 4px rgba(8, 8, 61, 0.1);

    .main-button {
      width: 100%;
    }
  }
}

.host-capacity {
  display: flex;
  align-items: center;

}

.event-host {
  display: flex;
  align-items: center;

  h5 {
    font-weight: 800;
    margin: 0;

  }

  h5:hover {
    color: #000;
  }

  p {
    margin: 0;
    font-size: 12px;
  }

  img {
    margin-right: 8px;
    border-radius: 50%;
  }
}

.event-capacity {
  border-left: 1px solid #544f4f;
  margin-left: 16px;
  padding-left: 16px;

  h5 {
    font-weight: 800;
    margin: 0;
  }

  p {
    margin: 0;
    font-size: 12px;
  }


}

.event-details {
  padding-top: 24px;
  max-width: 520px;


  .content {
    background-color: #fff;
    padding: 16px;
    border-radius: 8px;
    min-height: 120px;
    box-shadow: 0 2px 4px rgba(8, 8, 61, 0.1);

  }

  i {
    padding: 8px;
  }

  .info-icon {
    background-color: #fff;
    padding: 12px 11px;
    border-radius: 47px;
  }

  .info {

    h6{
      color: #6a6565;
      margin: 0;
      font-size: 14px;
    }

    p {
      font-weight: bold;
    }

    h5 {
      font-weight: 700;
    }

  }
}

.join-form-container {
  flex-grow: 1;
  padding-top: 8px;
}

.joining-people {
  padding: 24px;

  img {
    margin-right: 8px;
    border-radius: 50%;
  }

  h5 {
    margin: 0;
  }

  h5:hover {
    color: #000;
  }

  .people-circle {
    background: #1C8C6A;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    text-align: center;
    line-height: 18px;
    margin-bottom: 8px;

    p {
      color: #fff;
      font-weight: bold;
      font-size: 10px;
    }
  }


}

@media (max-width: 991.98px) {
  .event-main .main-content {
    padding: 0;
    margin: 4px;

    .event-details {
      max-width: none;
    }

  }

  .join-form-container {
    padding-top: 48px;
  }

  .event-image img {
    height: 240px;
  }

}


