.event-page {
  h1 {
    padding: 16px 0;
  }
}

.event-image {
  width: 100%;
  height: 250%;

  img {
    width: 100%;
    height: 280px;
    object-fit: cover;
  }
}

.event-main {
  display: flex;
  align-items: start;

  .main-content {
    flex-grow: 1;
    padding: 0 72px 16px 0;
  }

  .join-event-form {
    background-color: #fff;
    padding: 24px;
    border-radius: 8px;
    width: 300px;
  }
}

.event-heading {

  span {
    margin: 0 8px;
  }
}

.event-host {
  display: flex;

  h5 {
    padding-right: 8px;
  }

  p {
    margin: 0;
  }
}

.event-capatity {
  display: flex;
  padding: 8px 0;

  h5 {
    padding-right: 8px;
  }

  i {
    padding: 0;
  }

  .info-icon {
    background-color: #fff;
    padding: 10px 12px;
    border-radius: 47px;
  }
}

.event-details {
  padding: 8px 0;

  .content {
    background-color: #fff;
    padding: 16px;
    border-radius: 8px;
    min-height: 120px;

  }

  i {
    padding: 8px;
  }

  .info-icon {
    background-color: #fff;
    padding: 12px 11px;
    border-radius: 47px;
  }

  .info {
    display: flex;
    align-items: center;
  }
}

.joining-people {
  padding: 24px;

  img {
    width: 80px;
  }

  h5 {
    margin: 0;
  }

  span {
    background-color: orange;
    border-radius: 26px;
    padding: 4px 6px;
    color: #fff;
    font-weight: bold;
    font-size: 11px;
    margin-bottom: 16px;
  }
}
