.navbar-lewagon {
  justify-content: space-between;
  background: white;
  border-bottom: 1px solid rgba(46,62,72,.12);
  position: fixed;
  width: 100%;
  z-index: 1;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  text-align: right;
  margin-right: 12px;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-tabs .nav-link.active {
  background-color: #f1f1f1;;
}

.nav-tabs .nav-link {
  color: #cf9e48;
}

.only-mobile {
  display: none;
}

.nav-item i {
  font-size: 40px;
  color: #d6d5d5;

}

.nav-item a {
  font-family: 'Kulim Park', sans-serif;
  letter-spacing: 2px;
  font-size: 18px;


}

.menu-col {
  border-top: 1px solid #d3d0ca;
  padding: 8px 0;
}

.nav-item.dropdown {
  padding-left: 8px;
}

.dropdown-toggle:empty::after {
    margin-left: 2px;
    font-size: 18px;
    margin-bottom: 5px;
}

.navbar-nav .dropdown-menu {
  text-align: right;

}

.dropdown-menu {
  min-width: 230px;

}

.title-full {
  //background-color: #972d3ede;
  background-color: #319d7c;
  height: 100px;
  margin-bottom: 24px;

  h1, h2, h3 {
    color: #fff;
    padding: 24px;

  }

  .main-button {
    border: 2px solid #fff;
  }
}



@media (max-width: 767px)  {

  .navbar-lewagon {
    flex-wrap: nowrap;


  }
  .collapse:not(.show) {
    display: initial;
    position: absolute;
    right: 16px;
    top: 20px;
    z-index: 2;
    }

  .navbar-nav .dropdown-menu {
    position: static;
    float: none;
    margin-top: 20px;
    margin-right: -28px;
    width: 100vw;
    height: 62vh;
    text-align: right;
  }

  .hidden-mobile {
    display: none;
  }

  .only-mobile {
    display: inline;
  }

}
