.navbar-lewagon {
  justify-content: space-between;
  background: white;
  border-bottom: 1px solid rgba(46,62,72,.12);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  text-align: right;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-tabs .nav-link.active {
  background-color: #f8f5ee;
}

.nav-tabs .nav-link {
  color: #cf9e48;
}
