.navbar-lewagon {
  justify-content: space-between;
  background: white;
  border-bottom: 1px solid rgba(46,62,72,.12);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  text-align: right;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-tabs .nav-link.active {
  background-color: #f8f5ee;
}

.nav-tabs .nav-link {
  color: #cf9e48;
}

.only-mobile {
  display: none;
}

@media (max-width: 767px)  {

  .navbar-lewagon {
    flex-wrap: nowrap;


  }
  .collapse:not(.show) {
    display: initial;
    position: absolute;
    right: 16px;
    top: 20px;
    z-index: 2;
    }

  .navbar-nav .dropdown-menu {
    position: static;
    float: none;
    margin-top: 22px;
    margin-right: -16px;
    width: 100vw;
    height: 62vh;
    text-align: right;
  }

  .hidden-mobile {
    display: none;
  }

  .only-mobile {
    display: inline;
  }

}
