.post-container {
  max-width: 600px;

  .main-button {
    width: 100%;
  }

  .white-card {
    padding: 16px;
    min-height: 200px;
    margin: 32px auto;

    .post-img {
    width: 100%;
    }
  }

  .user-post-info {
    display: flex;
    align-items: center;

    h5 {
      margin: 0;
    }

    .avatar {
      width: 48px;
    }
  }

  .post-content {
    padding: 8px 0;
  }

}

.post-upload {
  display: flex;
  align-items: center;
  padding-top: 8px;

  input[type="submit"]:disabled {
    background-image: linear-gradient(to bottom right, #bdc1c0, #bec3c2);
  }

}

.preview-img img[src="#"] {
    display: none;
}

.preview-img img {
  width: 100%;
}

.user-name-date {
  padding-left: 4px;

  span {
    font-size: 14px;
    color: #7d858d;

  }
}
