body {
  background-color: #ece1c84d;
  color: #595959;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Kulim Park', sans-serif;
  color: #544f4f;
}

p, a {
  font-family: 'Open Sans', sans-serif;

}

p {
  color: #544f4f;
}

a {
  color: #60b63e;
  font-weight: bold;
}

a:hover {
  color: #60b63e;
  font-weight: bold;
}

#logo {
  font-family: 'Pacifico', cursive;
  //color: #d9a935;
}

.events-heading {
  padding: 24px 16px 8px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.no-margin {
  align-items: baseline;

  a, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;


  }

}

.signin-form {
  max-width: 364px;
  margin: 48px auto;
  background-color: #fff;
  padding: 24px 32px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(8,8,61,0.1);
}
