body {
  background-color: #ece1c84d;
  color: #595959;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Kulim Park', sans-serif;
  color: #544f4f;
}

p, a {
  font-family: 'Open Sans', sans-serif;
}



#logo {
  font-family: 'Pacifico', cursive;
  //color: #d9a935;
}

.events-heading {
  padding: 24px 16px 8px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
